{% extends 'layout.html' %} 
{% load staticfiles %}
{% block bodytag %}
    <body style="background: url('{% static 'bgs/bg13.jpg' %}') no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 -o-background-size: cover;
                 background-size: cover;" class="white-text">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s4">
            {% if login_error %}
            <div class="card">
                <div class="card-content red white-text">
                    {{ login_error }}
                </div>
            </div>
            {% endif %}
            <h3>Login</h3>
            <form id="loginform" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-field">
                    <input placeholder="Enter your username here" class="white-text" name="username" id="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    <input placeholder="Enter your password here" class="white-text" name="password" id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
                <a class="btn waves-effect purple hoverable" href="javascript:{document.getElementById('loginform').submit()}">Login</a>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        <div class="col s4 offset-s4 right-align">
            {% if signup_success %}
            <div class="card">
                <div class="card-content center-align green white-text">
                    {{ signup_success }}
                </div>
            </div>
            {% endif %}
            <h3>Signup</h3>
            <form id="signupform" method="post" action="{% url 'signup' %}">
                    {% if signup_form.errors %}
                    <div class="card">
                        <div class="card-content red white-text">
                            <h6 class="center-align"><u>There are some errors in your Signup fields</u></h6>
                            <ul class="left-align">
                                {% for k,v in signup_form.errors.items %}
                                    <p><strong>{{ k }}</strong>: {{ v }}</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                {% csrf_token %}
                <div class="input-field">
                    {{ signup_form.username }}
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    {{ signup_form.email }}
                    <label for="email">Email</label>
                    <span class="helper-text white-text" data-error="Invalid email address" data-success="Valid">Enter a valid email: example@website.com</span>
                </div>
                <div class="input-field">
                    {{ signup_form.password1 }}
                    <label for="password">Password</label>
                </div>
                <div class="input-field">
                    {{ signup_form.password2 }}
                    <label for="confirmpassword">Confirm password</label>
                </div>
                <div class="input-field">
                    {{ signup_form.captcha }}
                    <label for="captcha">Captcha</label>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
                <a class="btn waves-effect blue hoverable" href="javascript:{document.getElementById('signupform').submit()}">Signup</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
