{% extends 'layout.html' %}
{% block notification_block %}
    {% if notification_count %}
        <li><a href="{% url 'notifications' user.id %}">Notifications <span class="red-text">{{ notification_count }}</span></a></li>
    {% else %}
        <li><a href="{% url 'notifications' user.id %}">Notifications</a></li>
    {% endif %}
{% endblock %}
{% block mobile_notification_block %}
    {% if notification_count %}
        <li><a class="teal-text" href="{% url 'notifications' user.id %}">Notifications <span class="red-text">{{ notification_count }}</span></a></li>
    {% else %}
        <li><a class="teal-text" href="{% url 'notifications' user.id %}">Notifications</a></li>
    {% endif %}
{% endblock %} 
{% load staticfiles %}
{% block bodytag %}
    <body style="background: url('{% static 'bgs/bgtest.jpg' %}') no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 -o-background-size: cover;
                 background-size: cover;">
{% endblock %}
{% block content %}
    <div class="container">
        {% if change_password_error %}
        <div class="row">
                <div class="col s12 center-align">
                    <div class="card red">
                        <div class="card-content white-text">
                            {{ change_password_error }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if change_password_success %}
        <div class="row">
                <div class="col s12 center-align">
                    <div class="card green">
                        <div class="card-content white-text">
                            {{ change_password_success }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col s12 center-align">
                <h4 class="white-text">Change your password</h4>
            </div>
        </div>
        <form id="changepasswordform" action="{% url 'changepassword' user.id %}" method="post">
            {% csrf_token %}
            <div class="input-field">
                <input class="white-text" name="oldpassword" placeholder="Existing password" id="oldpassword" type="text" class="validate">
                <label for="oldpassword" class="white-text">Existing password</label>
              </div>
              <div class="input-field">
                <input class="white-text" name="newpassword" placeholder="New password" id="newpassword" type="text" class="validate">
                <label for="newpassword" class="white-text">New password</label>
              </div>
              <div class="input-field">
                <input class="white-text" name="confirmnewpassword" placeholder="Confirm New password" id="confirmnewpassword" type="text" class="validate">
                <label for="confirmnewpassword" class="white-text">Confirm New password</label>
              </div>
          </form>
          <a href="javascript:{document.getElementById('changepasswordform').submit();}" class="btn green waves-effect hoverable waves-green">Change password</a>
    </div>
   
{% endblock %}