{% extends 'layout.html' %} 
{% load staticfiles %}
{% block bodytag %}
    <body style="background: url('{% static 'bg.jpg' %}') no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 -o-background-size: cover;
                 background-size: cover;" class="white-text">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>The happenings from all around the Universe</h2>
        </div>
    </div>
    <hr> 
    {% for post in posts %}
    <div class="row">
        <div class="col s12">
            <a href="{% url 'blogpost' post.id %}">
                <h4>{{ post.title }}</h4>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <h6>{{ post.dateandtime }}</h6>
        </div>
        <div class="col s8 right-align">
            <h6>Written by {{ post.author.username }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <em>{{ post.intro }}</em>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h6>Written under <strong>{{ post.category }}</strong></h6>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <img src="{{ post.image.url }}" class="responsive-img" />
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {{ post.summary | safe }}<a href="{% url 'blogpost' post.id %}">....(read more)</a>
        </div>
    </div>
    <hr> {% empty %}
    <p class="flow-text">No posts</p>
    {% endfor %}
</div>
{% endblock %}
