{% extends 'layout.html' %}
{% load staticfiles %} 
{% load social_share %}
{% block notification_block %}
    {% if notification_count %}
        <li><a href="{% url 'notifications' user.id %}">Notifications <span class="red-text">{{ notification_count }}</span></a></li>
    {% else %}
        <li><a href="{% url 'notifications' user.id %}">Notifications</a></li>
    {% endif %}
{% endblock %}
{% block bodytag %}
    <body style="background: url('{% static 'bgs/bg.jpg' %}') no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 -o-background-size: cover;
                 background-size: cover;" class="white-text">
{% endblock %}
{% block content %}
    <style type="text/css">
        .social-facebook {
            background-image: url('{% static "socialmedia/fb.png" %}');
        }
    </style>
    <div class="container">
        {% if not post.is_denied %}
            {% if not post.is_approved %}
                <div class="row">
                    <div class="col s12">
                        <div class="card purple white-text">
                            <div class="card-content">
                                This post has not yet been approved by astroblog moderation
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                    <div class="col s12">
                        <div class="card red white-text">
                            <div class="card-content">
                                This post has been denied by astroblog moderation
                                <br>
                                Moderation comments: {{ post.moderation_comments }}
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
        <div class="row">
            <div class="col s12">
                <h2>{{ post.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <p class = "flow-text">{{ post.dateandtime }}</p>
            </div>
            <div class="col s4 offset-s4 right-align">
                <p class = "flow-text">By <a href="{% url 'userdetails' post.author.id %}">{{ post.author.username }}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <em>{{ post.intro }}</em>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                 <h6>Written under <strong>{{ post.category }}</strong></h6>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <img src="{{ post.image.url }}" class="responsive-img"></img>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col s12">
                {{ post.body | safe }}
            </div>
        </div>
        <br>
        {% if post.is_approved and not post.is_denied %}
            <div class="row">
                <div class="col s6">
                    {% if user.is_authenticated %}
                        {% if not user.username == post.author.username %}
                            {% if not starred %}
                                <a href="javascript:{document.getElementById('starringform').submit();}" class = "btn blue waves-effect hoverable">Star {{ post.totalstars }}</a>

                            {% else %}
                                <a href="javascript:{document.getElementById('unstarringform').submit();}" class = "btn green waves-effect hoverable">Starred {{ post.totalstars }}</a>
                            {% endif %}
                            {% if not kept %}
                                <a href="javascript:{document.getElementById('keepingform').submit();}" class = "btn blue waves-effect hoverable">Keep 
                                {% if keeps_count %}
                                    {{ keeps_count }}
                                {% endif %}
                                </a>
                            {% else %}
                                <a href="javascript:{document.getElementById('unkeepingform').submit();}" class = "btn green waves-effect hoverable">Kept 
                                {% if keeps_count %}
                                    {{ keeps_count }}
                                {% endif %}
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="" class = "btn purple waves-effect hoverable">Stars {{ post.totalstars }}</a>
                            <a href="" class = "btn blue waves-effect hoverable">Keeps {{ post.totalkeeps }}</a>
                            <a href="#deleteconfirmmodal" class= "btn red waves-effect hoverable modal-trigger">Delete Post</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login' %}" class = "btn purple waves-effect hoverable">Stars {{ post.totalstars }}</a>
                        <a href="{% url 'login' %}" class = "btn blue waves-effect hoverable">Keeps {{ post.totalkeeps }}</a>
                    {% endif %}
                </div>
                 <div class="col s6 right-align">
                     <span class="flow-text">Share on: </span>
                     {% post_to_facebook request.get_full_path "Post to facebook" %}
                     {% post_to_twitter "Astro Post: {{ post.title }}. Check it out!" request.get_full_path "Post to Twitter" %}
                     {% post_to_gplus request.get_full_path %}
                     {% post_to_reddit "Astrp Post: {{object.title}}" request.get_full_path %}
                     {% post_to_linkedin post.title request.get_full_path "Post to LinkedIn" %}
                     <!-- <a class='dropdown-trigger btn blue waves-effect hoverable' href='' data-target='sharebuttons'>Share</a>

                      <ul id='sharebuttons' class='dropdown-content'>
                        <li></li>
                        <li></li>
                      </ul> -->
                     
                 </div>
            </div>
            <div class="row">
                <p class = "flow-text">Comments: </p>
                <hr>
                {% for comment in post.comments.all %}
                    <span><a href="">{{ comment.commenter }}</a> on {{ comment.comment_date_and_time }}</span>
                    <br>
                    <div class="left-align">
                           {{ comment.comment }} 
                    </div>
                    <div class="right-align">
                       <!--  <span class="flow-text">{{ comment.planets }}</span> <a class="tooltipped" data-position="top" data-tooltip="Give planet" href=""><img width="2%" height="2%" src="{% static 'planet.png' %}"></a> -->
                       {% if comment.commenter.id == request.user.id %}
                           <a href="javascript:{document.getElementById('deletecommentform').submit();}" class="btn red waves-effect hoverable">Delete Comment</a>
                       {% endif %}
                    </div>
                    <hr>
                    <form id="deletecommentform" method="post" action="{% url 'deletecomment' comment_id=comment.id post_id=post.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="" />
                    </form>
                {% empty %}
                    No comments
                {% endfor %}
                <form id="commentform" method="post" action="{% url 'comment' post.id %}">
                    {% csrf_token %}
                    <textarea name="commentarea" id="commentarea" placeholder="Write a comment....."></textarea>
                </form>
                <a href="javascript:{document.getElementById('commentform').submit();}" class = "btn purple waves-effect hoverable">Comment</a>
        {% endif %}
        </div>
    </div>
    <div id="deleteconfirmmodal" class="modal">
        <div class="modal-content">
            <p class="flow-text">Warning: Are you sure you want to delete this POST???</p>
            <br>
            <em>This is worse than falling into a supermassive black hole.......</em>
        </div>
        <div class="modal-footer">
            <a href="javascript:{document.getElementById('deleteform').submit();}" class="modal-close waves-effect waves-red red btn-flat white-text">YESSSS</a>
            <a href="" class="modal-close waves-effect waves-green green btn-flat white-text">NOOOOOOO</a>
        </div>
    </div>
    <form id="starringform" action="{% url 'star' post.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="" />
    </form>
    <form id="unstarringform" action="{% url 'unstar' post.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="" />
    </form>
     <form id="keepingform" action="{% url 'keep' post.id %}" method="post">
         {% csrf_token %}
         <input type="hidden" name="" />
     </form>
     <form id="unkeepingform" action="{% url 'unkeep' post.id %}" method="post">
         {% csrf_token %}
         <input type="hidden" name="" />
     </form>
     <form id="deleteform" action="{% url 'delete' post.id %}" method="post">
         {% csrf_token %}
         <input type="hidden" name="" />
     </form>
{% endblock %}