{% extends 'layout.html' %}
{% load staticfiles %}
{% block notification_block %}
    {% if notification_count %}
        <li><a href="{% url 'notifications' user.id %}">Notifications <span class="red-text">{{ notification_count }}</span></a></li>
    {% else %}
        <li><a href="{% url 'notifications' user.id %}">Notifications</a></li>
    {% endif %}
{% endblock %}
{% block mobile_notification_block %}
    {% if notification_count %}
        <li><a class="teal-text" href="{% url 'notifications' user.id %}">Notifications <span class="red-text">{{ notification_count }}</span></a></li>
    {% else %}
        <li><a class="teal-text" href="{% url 'notifications' user.id %}">Notifications</a></li>
    {% endif %}
{% endblock %} 
{% block bodytag %}
    <body style="background: url('{% static 'bgs/bg5.jpg' %}') no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 -o-background-size: cover;
                 background-size: cover;" class="white-text">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>About us</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col s12">
                 <p class="flow-text"><em>“My thoughts are stars that I cannot fathom into constellations.” -Augustus Waters, The Fault in Our Stars</em>
<br>
<br>
Welcome to our blog which is a literary embodiment of the above quote. Except our thoughts are quite literally the stars that probably are a part of a constellation or at least a star cluster. 
<br>
<br>
The blog was developed by wannabe astrophysicists with the aim of creating a space for people with a deep-interest in space so that they can ponder over the mysteries of the cosmos and geek about the gravitational wave dance. <em>*insert stuff you can do*.</em>
I solemnly swear that we’re punny and we deliver great content which is moderated by amazing people to ensure that there are no trolls.
                 <br>
                     <br>
                     But anyway, here's a quote from the popular cosmologist and our inspiration, Stephen Hawking, “Remember to look up at the stars and not down at your feet. Try to make sense of what you see and wonder about what makes the universe exist. Be curious. And however difficult life may seem, there is always something you can do and succeed at.
                     It matters that you don't just give up.”</p>
            </div>
        </div>
    </div>
{% endblock %}