<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <title>Astro blog - The blog for people who look up into the cosmos</title>

    <meta name="description" content="The blog for people who look up into the cosmos, and wonder about our place in the Universe. We encourage writers to come here and write their hearts out about anything that starts with 'astro-', and cosmology as well.">
    <meta name="keywords" content="Astro,Blog,Astroblog,Astronomy,Astrophysics,Cosmology,Cosmos,Universe,Space,Stars,Galaxies,Planets">
    <meta name="author" content="BK Modding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .container {
            flex: 1 0 auto;
        }
    </style>
</head>

{% block bodytag %}
<body>
{% endblock %}
    <ul id="categories" class="dropdown-content black">
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Stars and Planets' %}">Stars and Planets</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Neutron stars and Pulsars' %}">Neutron stars and Pulsars</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Black holes and Quasars' %}">Black holes and Quasars</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Galaxies and Cosmology' %}">Galaxies and Cosmology</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Relativity in Astro' %}">Relativity in Astro</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Particle Physics and Quantum Mechanics in Astro' %}">Particle Physics and Quantum Mechanics in Astro</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='String Theory in Astro' %}">String Theory in Astro</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Astronomy' %}">Astronomy</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Scientific Literature' %}">Scientific Literature</a></li>
    </ul>
    <ul id="mobile-categories" class="dropdown-content black">
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Stars and Planets' %}">Stars and Planets</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Neutron stars and Pulsars' %}">Neutron stars and Pulsars</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Black holes and Quasars' %}">Black holes and Quasars</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Galaxies and Cosmology' %}">Galaxies and Cosmology</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Relativity in Astro' %}">Relativity in Astro</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Particle Physics and Quantum Mechanics in Astro' %}">Particle Physics and QM in Astro</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='String Theory in Astro' %}">String Theory in Astro</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Astronomy' %}">Astronomy</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-lighten-2" href="{% url 'categoryposts' category='Scientific Literature' %}">Scientific Literature</a></li>
    </ul>
    
    {% if user.is_authenticated %}
        <ul id="profile-options" class="dropdown-content black">
            <li><a class="blue-text text-lighten-2" href="{% url 'userdetails' user.id %}">Profile page</a></li>
            <li><a class="blue-text text-lighten-2" href="{% url 'userposts' user.id %}">My Posts</a></li>
            <li><a class="blue-text text-lighten-2" href="{% url 'userkeeps' user.id %}">My Keeps</a></li>
            {% block notification_block %}
                <li><a href="{% url 'notifications' user.id %}">Notifications</a></li>
            {% endblock %} 
            {% if user.is_staff %}
                <li><a class="blue-text text-lighten-2" href="{% url 'approvals' %}">Approvals</a></li>
                <li><a class="blue-text text-lighten-2" href="{% url 'viewqueries' %}">Queries</a></li>
            {% endif %}
            <li><a class="blue-text text-lighten-2" href="{% url 'changepassword' user.id %}">Change password</a></li>
        </ul>
        <ul id="mobile-profile-options" class="dropdown-content black">
            <li><a class="blue-text text-lighten-2" href="{% url 'userdetails' user.id %}">Profile page</a></li>
            <li><a class="blue-text text-lighten-2" href="{% url 'userposts' user.id %}">My Posts</a></li>
            <li><a class="blue-text text-lighten-2" href="{% url 'userkeeps' user.id %}">My Keeps</a></li>
            {% block mobile_notification_block %}
                <li><a class="teal-text" href="{% url 'notifications' user.id %}">Notifications</a></li>
            {% endblock %} 
            {% if user.is_staff %}
                <li><a class="blue-text text-lighten-2" href="{% url 'approvals' %}">Approvals</a></li>
                <li><a class="blue-text text-lighten-2" href="{% url 'viewqueries' %}">Queries</a></li>
            {% endif %}
        </ul>
    {% endif %}
    <nav>
        <div class="nav-wrapper black">
            <a href="{% url 'index' %}" class="brand-logo" style="width:20%; height:20%;"><img width="130vw" height="130vh"  class="responsive-img" src="{% static 'logo.png' %}"></a>
            <ul class="right hide-on-med-and-down">
                 <li><a href="{% url 'newpost' %}"><i class="material-icons">add</i></a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'latest' %}">Latest posts</a></li>
                <li><a class="dropdown-trigger" href="" data-target="categories">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{% url 'aboutus' %}">About us</a></li>
                {% if not user.is_staff %}
                    <li><a href="{% url 'query' %}">Have a query?</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a class="dropdown-trigger" href="#profile-options">My profile<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="btn blue darken-1" href="javascript:{document.getElementById('logoutform').submit();}">Log out</a></li>
                    <form id="logoutform" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" />
                    </form>
                {% else %}
                    <li><a href="{% url 'signup' %}">Signup/Login</a></li>
                {% endif %}
            </ul>
            <div class="hide-on-large-only">
                <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav black">
        <li><a class="white-text" href="{% url 'newpost' %}">New post</a></li>
        <li><a class="white-text" href="{% url 'index' %}">Home</a></li>
        <li><a class="white-text" href="{% url 'latest' %}">Latest posts</a></li>
        <li><a class="dropdown-trigger white-text" href="" data-target="mobile-categories">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="white-text" href="{% url 'aboutus' %}">About us</a></li>
        {% if not user.is_staff %}
            <li><a class="white-text" href="{% url 'query' %}">Have a query?</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li><a class="dropdown-trigger white-text" href="#mobile-profile-options">My profile<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="btn blue darken-1" href="javascript:{document.getElementById('logoutform').submit();}">Log out</a></li>
            <form id="logoutform" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="hidden" />
            </form>
        {% else %}
            <li><a class="white-text" href="{% url 'signup' %}">Signup/Login</a></li>
        {% endif %}
    </ul>
    
    {% block content %} {% endblock %}

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contact us</h5>
                    <p class="grey-text text-lighten-4">Email us at astroblog.moderation@gmail.com</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Find us</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/Astroblog-1567567643371366">Facebook</a></li>
                        <li><a href="https://www.instagram.com/_astro.blog_/">Instagram</a></li>
                        <li><a href="https://twitter.com/Astroblog2">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        © 2018 Astroblog
                    </div>
                    <div class="col s6 right-align">
                         <> by <a href="https://github.com/BK-Modding">BK-Modding</a> and <a href="https://github.com/popxxisjustaflower">popxxisjustaflower</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'site.js' %}"></script>
</body>

</html>
