<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <title>Astro blog - the blog for people who look up into the cosmos</title>

    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <ul id="categories" class="dropdown-content">
        <li><a href="#!">Neutron stars and Pulsars</a></li>
        <li class="divider"></li>
        <li><a href="#!">Black holes and Quasars</a></li>
        <li class="divider"></li>
        <li><a href="#!">Galaxies and cosmology</a></li>
        <li class="divider"></li>
        <li><a href="#!">Relativity in Astro</a></li>
        <li class="divider"></li>
        <li><a href="#!">Particle Physics and Quantum Mechanics in Astro</a></li>
        <li class="divider"></li>
        <li><a href="#!">String Theory in Astro</a></li>
        <li class="divider"></li>
        <li><a href="#!">Astronomy</a></li>
        <li class="divider"></li>
        <li><a href="#!">Scientific Literature</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper black">
            <a href="{% url 'index' %}" class="brand-logo">Astroblog</a>
            <ul class="right hide-on-med-and-down">
                 <li><a href="{% url 'newpost' %}"><i class="material-icons">add</i></a></li>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'latest' %}">Latest posts</a></li>
                <li><a class="dropdown-trigger" href="" data-target="categories">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{% url 'aboutus' %}">About us</a></li>
                <li><a href="">Have a query?</a></li>
                {% if user.is_authenticated %}
                <li><a href="sass.html">My Posts</a></li>
                <li><a href="sass.html">My Keeps</a></li>
                {% block notification_block %}
                    <li><a href="{% url 'notifications' user.id %}">Notifications</a></li>
                {% endblock %}
                {% if user.is_staff %}
                <li><a href="{% url 'approvals' %}">Approvals</a></li>
                <li><a href="sass.html">Queries</a></li>
                {% endif %}
                <li><a class="blue-grey" href="javascript:{document.getElementById('logoutform').submit();}">Log out</a></li>
                <form id="logoutform" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" />
                </form>
                {% else %}
                <li><a href="{% url 'signup' %}">Signup/Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'site.js' %}"></script>
</body>

</html>
